body{ 
    color : #2a9d8f;
    background-color: #f8f5e2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header:nth-of-type(1) img {
    transform: scaleX(-1);
    position: absolute;
    width: 59vh;
    height: 110vh;  
    left: -28vh;
    opacity: 50%;
    z-index:1;
}
img[id="bee"]{
    position: absolute;
    width: 20vh;
    height: 35vh;
    border-top-right-radius: 12vh;
    border-bottom-left-radius: 12vh;
    border: 1vh solid #2a9d8f;
    top: 23vh;
    margin-left: 1vh ;
    z-index:2;
}

h1{
    position: absolute;
    color: #2a9d8f;
    top: 16vh;
    left: 30vh;
    font-size: 3vh;
    white-space: nowrap;
}
h2{
    position: absolute;
    color: #2a9d8f;
    top: 15.5vh;
    left: 34vh;
    font-size: 6vh;
    white-space: nowrap;
}

h3{
    position: absolute;
    top: 35vh;
    left: 30vh;
    font-size: 3vh;
    font-weight: bold;
    white-space: nowrap;
    font-size:2.5vh;
}

header:nth-of-type(3) img{
    position: absolute;
    top:50vh;
    left: 26vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}
a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 51vh;
    left: 31vh;
    font-size: 2.5vh;
    font-weight: bold;
    text-decoration: none;
    color: #2a9d8f;
}

header:nth-of-type(4) img{
    position: absolute;
    top: 60vh;
    left: 26.5vh;
    width: 3.5vh;
    height: 3.5vh;
    
}
a[id="carrinho"]{
    position: absolute;
    top: 60.5vh;
    left: 30.5vh;
    font-size: 2.5vh;

}

header:nth-of-type(5) img{
    opacity: 70%;
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: 70vh;
    margin-left: 70vh;
}
